body {
    background: url("./assets/senna-bg.png");
    background: cover;
    text-align: center;
    color:white;
}

.senna-logo {
    text-align: center;
    width: 40vw;
}

#senna-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-started-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 2.5vh;

}

.get-started-link, h1 {
    font-size: 60px;
    padding-top: 0;
}


.card-images {
    width: 20vh;
    height: 200px;
    object-fit: contain;
}

#image-col {
    display: flex;
    align-items: center;
    justify-content: stretch;

}



#home-photo-grid {
    width: 80vw;
    height: 60vh;
    background-color: white;
    padding: 10vh 0 5vh 0;
    margin-bottom: 5vh;
    margin-top: 6vh;
}

.profile-pic {
    padding-top: 5vh;
    width: 20vw;
    border-radius: 50%;
}

.profile-h1 {
    font-size: 5em;
    padding-top: 3vh;
    font-family: 'Cinzel Decorative', cursive;
}

#card {
    border: black solid;
}