body {
    background: url("./assets/senna-bg.png");
    background: cover;
    overflow-y: hidden;
}

.senna-logo {
    text-align: center;
    width: 50vw;
}

.senna-container {
    display: flex;
    justify-content: center;
}